<ion-view title="About" id="about">
    <ion-content overflow-scroll="true" padding="false" scroll="true">
        <div class="row row-no-padding imgtitlediv">
            <div class="col col-25"></div>
            <div class="col center">
                <img src="img/fmaph.PNG" id="imgtitle" />
            </div>
            <div class="col col-25"></div>
        </div>
        <div class="row">
            <div class="col">
                </br>
                <center><a href="#" onclick="window.open('http://fma.ph', '_system');"><button class="button button-block button-assertive">VISIT THE SITE</button></a></center>
                </br>
                <p align="justify">
                    The Foundation for Media Alternatives (FMA) is a nonprofit service institution whose mission has been to assist citizens and communities—especially civil society organizations (CSOs) and other development stakeholders—in their strategic and appropriate use of the various information and communications media for democratization and popular empowerment.
                </p>
                <blockquote><h3>VISION</h3></blockquote>
                <p align="justify">
                    FMA affirms and updates it vision of a “vibrant and socially progressive Philippines and global (civil) society composed of and nurtured by the interaction of informed citizens and empowered communities oriented towards sustainable development.”
                </p>
                <blockquote><h3>MISSION</h3></blockquote>
                <p align="justify">
                    FMA exists to “assist civil society organizations (CSOs) and other development stakeholders (including government) on their right to information and communication by advocating for openness in information societies, addressing gender concerns and ICT, working for digital rights, ensuring strategic and responsible use of ICT and optimizing ICT for sustainable development.”
                </p>
                <br/>
            </div>
        </div>
        <div class="row row-no-padding imgtitlediv2">
            <div class="col col-25"></div>
            <div class="col center">
                <img src="img/aksyonvawlogo.png" id="imgtitle" />
            </div>
            <div class="col col-25"></div>
        </div>
        <div class="row">
            <div class="col">
                <br/>
                <h4>Special thanks to:</h4>
                <center>
                    Erwin Galang, Jireh June Nimes, Jhoanna Erika Singh, Roma Fatima M. Suing, Annaliza N. Ojas
                </center>
                <h4>Powered by:</h4>
            </div>
        </div>
        <div class="row row-no-padding imgtitlediv3">
            <div class="col col-25"></div>
            <div class="col center">
                <img src="img/8layer.png" id="imgtitle" />
            </div>
            <div class="col col-25"></div>
        </div>
        <div class="row">
            <div class="col">
                </br>
                <center><a href="#" onclick="window.open('http://www.8layertech.com', '_system');"><button class="button button-block button-assertive">VISIT THE SITE</button></a></center>
                </br>
            </div>
        </div>
    </ion-content>
</ion-view>
