<ion-view title="Cyber Bullying" id="cb">
    <ion-content ng-init="typedFunc()" scroll="false">
		<section ng-init="scrollInit()" class="cbcontent" id="cbstart">
			<div class="typeddiv" on-touch="stopAS()">
				<p></p>
			</div>
			<div class="pcontent">
				<p>
					Bea is a 15-year old high school student who had been bullied online.  One of her classmates posted,
					^100 
					<br><br>
					<span class="quote">“OMG! It’s confirmed! Yuck! ^1100 She was included in Top 10 because she is the girlfriend of our teacher! ^100 #youknowwhoyouare ^100 #suchab**ch!”</span> 
					<br><br>
					In just few seconds, some of her classmates started to comment also. She was at loss for words when she read it. She wanted to convince her classmates that this was not true. One of the Facebook statements accused her that she was having an affair with her teacher. The post gained five likes and 98 comments. The victim ranked 9th in their class during the 2nd Grading period last school year. The victim said that the Facebook statement was malicious. Some comments turned out to be offensive and of the comments even read like she’s really having an illicit affair with their teacher.
				</p>
			</div>
			<div class="pcontent1">
				<p>
					Bea is a 15-year old high school student who had been bullied online.  One of her classmates posted,
					<br><br>
					<span class="quote">“OMG! It’s confirmed! Yuck! She was included in Top 10 because she is the girlfriend of our teacher! #youknowwhoyouare #suchab**ch!”</span> 
					<br><br>
					In just few seconds, some of her classmates started to comment also. She was at loss for words when she read it. She wanted to convince her classmates that this was not true. One of the Facebook statements accused her that she was having an affair with her teacher. The post gained five likes and 98 comments. The victim ranked 9th in their class during the 2nd Grading period last school year. The victim said that the Facebook statement was malicious. Some comments turned out to be offensive and of the comments even read like she’s really having an illicit affair with their teacher.
				</p>
			</div>
		</section>
		<section class="cbcontent" id="cbscene1" style="display: none;">
			<div class="typeddiv" on-touch="stopAS()">
				<p></p>
			</div>
			<div class="pcontent">
				<p>
					Bea was affected. She weeps every night and doesn’t want to attend classes anymore because of the allegations hurled against her.
				</p>
			</div>
		</section>
		<section class="cbcontent" id="cbscene2" style="display: none;">
			<div class="typeddiv" on-touch="stopAS()">
				<p></p>
			</div>
			<div class="pcontent">
				<p>
					Bea reported this incident to her teacher and parents.
				</p>
			</div>
		</section>
		<section class="cbcontent" id="cbend1" style="display: none;">
			<div class="typeddiv" on-touch="stopAS()">
				<p></p>
			</div>
			<div class="pcontent">
				<p>
					She kept her mouth shut even though the posted status was malicious and not true. She chose not to report the incident to her class adviser because it would just create another trouble between them. She doesn’t want to say anything out of fear or retaliation. She felt hopeless and stuck like she can’t get out of the situation; felt like there is no one to help her; felt depressed & rejected by her friends and other groups of people; felt unsafe and afraid; feels ashamed, confused and stressed out wondering why this is happening to her. She decided to deactivate all her social networking accounts including Facebook, Twitter and Instagram so she could not read their hurtful words against her.
					<br><br>
					<span class="endtitle">END OF GAME.</span>
				</p>
			</div>
		</section>
		<section class="cbcontent" id="cbend2" style="display: none;">
			<div class="typeddiv" on-touch="stopAS()">
				<p></p>
			</div>
			<div class="pcontent">
				<p>
					The victim realized that stopping school is not the solution to end all the allegations hurled against her. She hopes and prays and that they would stop harassing her.
					<br><br>
					The school where the victim is enrolled is now working with psychologists and working on revamping the bullying section in the handbook to put a better system in place to fight bullying. The victim is an image of a strong teenager who survived cyberbullying and was able to cope with cyberbullying. Her parents guided her and instilled in her the love she rightfully needed.
					<br><br>
					<span class="solvetitle">CASE SOLVED!</span>
				</p>
			</div>
		</section>
		<section class="cbcontent" id="cbinfo1" style="display: none;">
			<div class="typeddiv" on-touch="stopAS()">
				<p></p>
			</div>
			<div class="pcontent">
				<p>
					<span class="ptitle">RA 10627</span>
					<br><br>
					Anti-Bullying Act aims to protect children enrolled in kindergarten, elementary, and secondary schools and learning centers from being bullied. It requires Schools to adopt policies to address the existence of bullying in their respective institutions.
					<br><br>
					Cyber-bullying is any bullying done through the use of technology or any electronic means. The term also includes any conduct resulting to harassment, intimidation, or humiliation, through the use of other forms of technology, such as, but not limited to texting, email, instant messaging, chatting, internet, social media, online games, or other platforms or formats.
					<br><br>
					Schools are directed to adopt policies, which are to be regularly updated, to address the existence of bullying in their respective institutions. These policies are to be reported to the appropriate school division superintendent of the Department of Education during the first week of every academic year. During this period, the School shall also submit a report of relevant information and statistics on bullying and retaliation culled from the previous academic year.
				</p>
			</div>
		</section>
		<section class="cbcontent" id="cbinfo2" style="display: none;">
			<div class="typeddiv" on-touch="stopAS()">
				<p></p>
			</div>
			<div class="pcontent">
				<p>
					Ways to safeguard yourself online bullying:
					<br><br>
					1. Do not share your private information like passwords, name and address, phone numbers with people you don’t know. This can also include sharing of photos of yourself, your friends and your family.
					<br><br>
					2. Don’t respond to messages when you are angry or hurt - either to strangers and also to people you know. This will often encourage them to continue or increase their harassment of you.
					<br><br>
					3. Log out and stop messaging if you feel you are being harassed.
					<br><br>
					4. Remember you have the option to block, delete and report anyone who is harassing you online and on your mobile.
					<br><br>
					5. Find out how to report bullying and harassment on each of the different social networks that you use.
					<br><br>
					6. Keep a record of calls, messages, posts and emails that may be hurtful or harmful to you.
					<br><br>
					7. Remember to set up the privacy options on your social networking sites like Facebook in a way you are comfortable with.
				</p>
			</div>
		</section>
		<button class="button button-small button-assertive btnNext" ng-controller="popoverCtrl" ng-click="changeQues(); openPopover($event, 'cb')">NEXT</button>
		<button class="button button-small button-assertive btnNext1" ng-click="changePage('next');">NEXT</button>
		<button class="button button-small button-assertive btnSkip" ng-click="skip()">SKIP</button>
		<button ui-sref="category" class="button button-small button-assertive btnExit" style="display: none;">EXIT</button>
	</ion-content>
</ion-view>