<ion-view title="Identity Theft" id="it">
    <ion-content padding="false" scroll="false" style="padding: 0;">
    <ion-scroll style="width: 100%; height: 100vh;">
		<section id="itstart">
			<p>
				Irene is a 16 year old HS Student who was surprised when she was informed by her friend Jona that her photo was on a tarpaulin outside the beerhouse to entice customers to come in.  To prove it, Jona apparently took a photo of the tarpaulin and showed to her. Irene was no doubt. It was her together with five other girls.
			</p>
		</section>
		<section id="itscene1" style="display: none;">
			<p>
				Scene... Irene feels depressed. She doesn’t want to go outside because of shame. 
				If you keep it to yourself, the tarpaulin will still be there. Your reputation will be put in harm. 
			</p>
		</section>
		<section id="itscene2" style="display: none;">
			<p>
				Irene reported this incidence to her mother. Her mother went personally to the beerhouse to confirm the tarpaulin exists. 
			</p>
		</section>
		<section id="itscene3" style="display: none;">
			<p>
				Scene… 
			</p>
		</section>
		<section id="itscene4" style="display: none;">
			<p>
				Scene… 
			</p>
		</section>
		<section id="itend1" style="display: none;">
			<p>
				The perpetrator admitted that he used the girls’ photos without their consent to entice the customers.  And now faces a case of violating RA 7610 & 10175.
				<ul>
					<li>
					Tarp removed in the establishment; Business permit was cancelled and license to operate revoked.
					</li>
					<li>
					Perpetrator convicted under RA 10175 & RA 7610.
					</li>
					<li>
					Victim/survivor are now undergoing counseling and became a youth advocate in their community tackling tech-VAW cases.
					</li>
				</ul>
				<h3>CASE SOLVED!</h3>
			</p>
		</section>
		<section id="itend2" style="display: none;">
			<p>
				Scene… Irene ignored the incidence. Dino continuously using the tarpaulin to entice customer.   
				RA 7610 –is an act providing for stronger deterrence and special protection against child abuse, exploitation and discrimination, providing penalties for its violation and for other purposes.
				RA 10175 - It aims to address legal issues concerning online interactions and the Internet in the Philippines. Among the cybercrime offenses included in the bill are cybersquatting, cybersex, child pornography, identity theft, illegal access to data and libel.
			</p>
		</section>
		<button class="button button-stable button-block btnNext" ng-controller="popoverCtrl" ng-click="changeQues(); openPopover($event)">NEXT</button>
		<a href="#/category" class="button button-stable button-block btnExit" ng-controller="popoverCtrl" ng-click="exit()" style="display: none;">EXIT</a>
	</ion-scroll>
    </ion-content>
</ion-view>