<ion-view title="Online Harassment" id="oh">
    <ion-content ng-init="typedFunc()" scroll="false">
		<section ng-init="scrollInit()" class="ohcontent" id="ohstart1">
			<div class="typeddiv" on-touch="stopAS()">
				<p></p>
			</div>
			<div class="pcontent">
				<p>
					Chesca’s sister told her that one of her classmates saw a photo of Chesca wearing a bikini on a certain website. Chesca was shocked to find that because the photo has been circulating online. 
				</p>
			</div>
			<div class="pcontent1">
				<p>
					Chesca’s sister told her that one of her classmates saw a photo of Chesca wearing a bikini on a certain website. Chesca was shocked to find that because the photo has been circulating online. 
				</p>
			</div>
		</section>
		<section class="ohcontent" id="ohstart2" style="display: none;">
			<div class="typeddiv" on-touch="stopAS()">
				<p></p>
			</div>
			<div class="pcontent">
				<p>
					She contacted Diego, her exboyfriend, and accused him of uploading her photo online. However, Diego denied it and told that his mobile phone got stolen 2 months after their break up.
				</p>
			</div>
			<div class="pcontent1">
				<p>
					She contacted Diego, her exboyfriend, and accused him of uploading her photo online. However, Diego denied it and told that his mobile phone got stolen 2 months after their break up.
				</p>
			</div>
		</section>
		<section class="ohcontent" id="ohstart3" style="display: none;">
			<div class="typeddiv" on-touch="stopAS()">
				<p></p>
			</div>
			<div class="pcontent">
				<p>
					Chesca didn’t know what to do until she decided to write an email to the website administrator to take down her photos and all possible links. The website administrator immediately removed the links and her photos on their website. Chesca was relieved afterwards. ^300 A few days after the incident, one of her friends informed Chesca that her photos are circulating again.
				</p>
			</div>
			<div class="pcontent1">
				<p>
					Chesca didn’t know what to do until she decided to write an email to the website administrator to take down her photos and all possible links. The website administrator immediately removed the links and her photos on their website. Chesca was relieved afterwards. A few days after the incident, one of her friends informed Chesca that her photos are circulating again.
				</p>
			</div>
		</section>
		<section class="ohcontent" id="ohscene1" style="display: none;">
			<div class="typeddiv" on-touch="stopAS()">
				<p></p>
			</div>
			<div class="pcontent">
				<p>
					Contact:
					<br><br>
					PNP – Women’s Crisis and Child Protection Office
					Tel.no.: 723-0401 local 5444/3697
					<br><br>
					PNP - Criminal Investigation & Detection Group for Cyber Crime / Computer Related Crimes
					Tel.No.: 726-1575
					<br><br>
					National Bureau of Investigation - Cybercrime Division
					Tel: (632)523-8231 to 38 local 3454, 3455
					<br><br>
					National Bureau of Investigation – Violence against Women & Children Division
					Tel.No.: 523-8231 Local. 3403
					<br><br>
					Contact/ Seek help Social Media Helpdesk and review the Community Guidelines. It is the best way to report
					abusive content or spam by using the Report link that appears near the content itself.
				</p>
			</div>
			<div class="pcontent1">
				<p>
					Contact:
					<br><br>
					PNP – Women’s Crisis and Child Protection Office
					Tel.no.: 723-0401 local 5444/3697
					<br><br>
					PNP - Criminal Investigation & Detection Group for Cyber Crime / Computer Related Crimes
					Tel.No.: 726-1575
					<br><br>
					National Bureau of Investigation - Cybercrime Division
					Tel: (632)523-8231 to 38 local 3454, 3455
					<br><br>
					National Bureau of Investigation – Violence against Women & Children Division
					Tel.No.: 523-8231 Local. 3403
					<br><br>
					Contact/ Seek help Social Media Helpdesk and review the Community Guidelines. It is the best way to report
					abusive content or spam by using the Report link that appears near the content itself.
				</p>
			</div>
		</section>
		<section class="ohcontent" id="ohend1" style="display: none;">
			<div class="typeddiv" on-touch="stopAS()">
				<p></p>
			</div>
			<div class="pcontent">
				<p>
					Perpetrator was tracked, arrested and charged for violating RA 10175.
					<br><br>
					<span class="ptitle">RA 10175</span> - The Cybercrime Prevention Act of 2012 is an Act Defining Cybercrime, Providing For The
					Prevention, Investigation, Suppression And The Imposition Of Penalties Therefor And For Other Purposes.
					The cybyercrime law defines and punishes certain acts, generally classified as: 
					<br><br>
					(a) Offenses against the confidentiality, integrity and availability of computer data and systems; 
					<br><br>
					(b) Computer-related Offenses; and 
					<br><br>
					(c) Content-related Offenses.
					<br><br>
					Any person who willfully attempts to commit any of the offenses enumerated in this Act shall be held
					liable.
				</p>
			</div>
			<div class="pcontent1">
				<p>
					Perpetrator was tracked, arrested and charged for violating RA 10175.
					<br><br>
					<span class="ptitle">RA 10175</span> - The Cybercrime Prevention Act of 2012 is an Act Defining Cybercrime, Providing For The
					Prevention, Investigation, Suppression And The Imposition Of Penalties Therefor And For Other Purposes.
					The cybyercrime law defines and punishes certain acts, generally classified as: 
					<br><br>
					(a) Offenses against the confidentiality, integrity and availability of computer data and systems; 
					<br><br>
					(b) Computer-related Offenses; and 
					<br><br>
					(c) Content-related Offenses.
					<br><br>
					Any person who willfully attempts to commit any of the offenses enumerated in this Act shall be held
					liable.
				</p>
			</div>
		</section>
		<section class="ohcontent" id="ohend2" style="display: none;">
			<div class="typeddiv" on-touch="stopAS()">
				<p></p>
			</div>
			<div class="pcontent">
				<p>
					What is Electronic Violence Against Women (eVAW)? It is a gender-based violence committed and
					perpetrated in the new spaces or arenas. It is embedded in, mediated by or facilitated through ICTs.
					Perpetrators use ICT to track and harass women, young women and girls, causing emotional distress and fear
					for their personal safety. The acts includes transmitting threats or false accusations through blogs, in chat
					rooms, or via mobile phones and other social networking sites. eVAW also includes sending repeated and
					unwanted communications with sexual undertones, stealing identity or data and spying and monitoring their
					online activities, computer and internet use without permission. Some these violence escalate into reality
					and can seriously impair one’s capacity to participate and use ICT without apprehension or fear.
				</p>
			</div>
			<div class="pcontent1">
				<p>
					What is Electronic Violence Against Women (eVAW)? It is a gender-based violence committed and
					perpetrated in the new spaces or arenas. It is embedded in, mediated by or facilitated through ICTs.
					Perpetrators use ICT to track and harass women, young women and girls, causing emotional distress and fear
					for their personal safety. The acts includes transmitting threats or false accusations through blogs, in chat
					rooms, or via mobile phones and other social networking sites. eVAW also includes sending repeated and
					unwanted communications with sexual undertones, stealing identity or data and spying and monitoring their
					online activities, computer and internet use without permission. Some these violence escalate into reality
					and can seriously impair one’s capacity to participate and use ICT without apprehension or fear.
				</p>
			</div>
		</section>
		<section class="ohcontent" id="ohend3" style="display: none;">
			<div class="typeddiv" on-touch="stopAS()">
				<p></p>
			</div>
			<div class="pcontent">
				<p>
					What could be done to avoid this situation?
					<br><br>
					* Tweak the privacy setting in all online accounts.
					<br><br>
					* Anonymize yourself to protect your personal identity online.
					<br><br>
					* Report immediately the abuse to the respective platform such as social networking sites, websites
					and other online sites.
					<br><br>
					* Seek help law enforcement agencies like NBI-Cybercrime Division, DOJ-Office of the Cybercrime
					Unit, PNP-AntiCybercrime Office and women’s desk, when needed.
				</p>
			</div>
			<div class="pcontent1">
				<p>
					What could be done to avoid this situation?
					<br><br>
					* Tweak the privacy setting in all online accounts.
					<br><br>
					* Anonymize yourself to protect your personal identity online.
					<br><br>
					* Report immediately the abuse to the respective platform such as social networking sites, websites
					and other online sites.
					<br><br>
					* Seek help law enforcement agencies like NBI-Cybercrime Division, DOJ-Office of the Cybercrime
					Unit, PNP-AntiCybercrime Office and women’s desk, when needed.
				</p>
			</div>
		</section>
		<button class="button button-small button-assertive btnNext" ng-controller="popoverCtrl" ng-click="changeQues(); openPopover($event, 'oh')">NEXT</button>
		<button class="button button-small button-assertive btnNext1" ng-click="changePage('next');">NEXT</button>
		<button class="button button-small button-assertive btnSkip" ng-click="skip()">SKIP</button>
		<button ui-sref="category" class="button button-small button-assertive btnExit" style="display: none;">EXIT</button>
    </ion-content>
</ion-view>